.header {
  width: 100%;
  padding: 0em 6em 0em 0em;
  box-sizing: border-box;
  background-color: rgb(4, 0, 255);
  display: flex;
  color: white;
}

  height: 4em;
.header img {
}

.header h2 {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

.header nav {
  margin-top: auto;
  margin-bottom: auto;
}

.header nav a {
  color: white;
  padding: .5em;
  margin-left: .5em;
}

.header nav .active {
  background-color: blue;
  color: white;
  font-weight: 1000;
}